.App {
  text-align: center;
}
.card{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 70%;
  margin: auto;
  
}
.card>div{
padding: 20px;
  border: 1px solid red;
}

.card>div>img{
  width: 100%;
  height: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.formss{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 20px;

}
button {
  @apply font-bold py-2 px-4 rounded;
  
  @apply bg-blue-300 text-white;
}
.formss>input{
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
}
.formss>input,.formss>button{
  width: 30%;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
